.hero {
        text-align: center;
            display: flex;
            justify-content: center;
            padding-top: 118px;
            background-image: url(../img/hero-img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            max-width: 1600px;
            margin: 0 auto;
            background-color: #2F303A;
            padding-bottom: 118px;
            height: 400px;
            @media screen and (min-width: 768px) {
                height: 400px;
                padding-top: 118px;    
                padding-bottom: 118px;
            
                }
            
                @media screen and (min-width:1200px) {
                    height: 600px;
                    padding-top: 200px;
                    padding-bottom: 200px;
                }

    




}

.hero__title {
    display: flex;

font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    justify-content: center;
    padding-top: 0px;
    margin: 0 auto;
    max-width: 696px;
    width:360px;
    color: #FFFFFF;
@media screen and (min-width: 768px) {
        
font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 360px;
    }

    @media screen and (min-width:1200px) {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 696px;
    }





}




.hero__btn {
    font-family: 'Roboto', sans-serif;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    background: #2196F3;
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;

    justify-content: center;
    border: transparent;
    border-radius: 4px;
    margin-top: 30px;



}